# --- Python & Spark ---
__pycache__/
*.py[cod]
.venv/
venv/
*.log
metastore_db/
derby.log
batch_plan.md

# --- Node.js & Frontend ---
node_modules/
dist/
build/
.env

# --- Data & Machine Learning ---
data/
*.csv
*.json
*.parquet
*.h5
*.pkl

# --- IDE & OS ---
.idea/
.vscode/
.DS_Store

# --- Kafka ---
certs/
*.json
*.log
*.log

# -- Test files --
test_storage.py
test_mongo_env.py
test_hdfs_env.py

# --- Other ---
.agents
minikube-linux-amd64
kind.exe
*.tar
*.jsonl
